*{
    margin: 0%;
    padding: 0%;
}

@font-face {
    font-family: roboto-light;
    src: url(../fonts/Roboto-Light.ttf);}

@font-face {
    font-family: roboto-medium;
    src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: roboto-bold;
    src: url(../fonts/Roboto-Bold.ttf);
}

.navbar{
    background-color: #0D47A1;
}


.txnav{
    color: inherit;

    text-decoration: none;
    color: aqua;
    font-family: roboto-bold;
    font-style: italic;
    font-size: large;
}

.filter{
    text-align: center;
    background-color: #CFD8DC;
    padding: 0.6em;
}

footer{
    background-color: #0D47A1;
    display: flex;
    justify-content: space-evenly;
    padding: 0.5em;
}

footer div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.txf{
    color: aqua;
    font-family: roboto-light;
    font-size: medium;
}

footer div p{
    margin: 0%;
}