*{
    margin: 0%;
    padding: 0%;
}

@font-face {
    font-family: roboto-light;
    src: url(../fonts/Roboto-Light.ttf);}

@font-face {
    font-family: roboto-medium;
    src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: roboto-bold;
    src: url(../fonts/Roboto-Bold.ttf);
}

.navbar{
    background-color: #0D47A1;
}


.txnav{
    color: inherit;

    text-decoration: none;
    color: aqua;
    font-family: roboto-bold;
    font-style: italic;
    font-size: large;
}

.filter{
    text-align: center;
    background-color: #CFD8DC;
    padding: 0.6em;
    grid-area: menu;
}

footer{
    background-color: #0D47A1;
    display: flex;
    justify-content: space-evenly;
    padding: 0.5em;
    grid-area: footer;
}

footer div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.txf{
    color: aqua;
    font-family: roboto-light;
    font-size: medium;
}

footer div p{
    margin: 0%;
}

header{
    grid-area: header;
}

main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main div{
    font-family: roboto-light;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
    padding: 1em;
}

.page{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.tn{
    padding: 0.3em;
    font-size: medium;
    text-decoration: none;
    margin: 0.3em;
    font-weight: bold;
}

body{
    display: grid;
    grid-template-areas:
    "header"
    "menu"
    "main"
    "footer";
    grid-template-columns: 1fr;
}

img{
    width: 100%;
}

.button{
    color:#4DD0E1;
    padding: 0.3em;
    font-size: 1.2em;
    text-decoration: none;
    font-family: roboto-medium;
    background-color: black;
    border: 1px #0D47A1;
    border-style: solid;
}